#background{
    background: #E5E5E5;
}
/* title */
.title{
    height: 1.5em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #01DFD7;
}
/* locations, necessities, feature SQUARES */
.master-square{
    height: 13em;
    background: #A9F5F2;
    opacity: 0.8;
    border-radius: 1em;
    margin-bottom: 1.5em;
}
.tags-square{
    height: auto;
    background: #A9F5F2;
    opacity: 0.8;
    border-radius: 1em;
    margin-bottom: 1.5em;
}
.square-title{
    margin-top: 1em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.5em;
    color: #000000;
}
/* Location&Necessity CIRCLE Group */
.first-card{
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
    margin-bottom: 1em;
}
.circle-text{
    width: 5em;
    height: 5em;
    background: #FFFFFF;
    margin: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1em;
    text-align: center;
    border-radius: 4em;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #FFFFFF;
    color: #000000;
}
/* Feature TAG Group */
.tag-text{width: 8em;
    height: 3em;
    background: #FFFFFF;
    border-radius: 0.75em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 0.9em;
    text-align: center;
    color: #000000;
}

/* FIND group */
.find-text{
    width: 6em;
    height: 6em;
    background: #01DFD7;
    font-family: Montserrat;
    font-style: normal;
    border-radius: 4em;
    font-weight: 700;
    line-height: normal;
    font-size: 1em;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #01DFD7;
    margin-top: 1.2em;
    margin-bottom: 2em;
}

.another-text{
    width: 9em;
    height: 9em;
    background: #01DFD7;
    font-family: Montserrat;
    font-style: normal;
    border-radius: 6em;
    font-weight: 700;
    line-height: normal;
    font-size: 1em;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #01DFD7;
    margin-top: 1.2em;
    margin-bottom: 2em;
}